.login-container {
    width: 450px;
    margin: auto;
    padding: 40px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div_input_pass {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

input[type="password"],
input[type="text"] {
    padding-right: 40px;
}

.padding_bottom {
    padding-bottom: 8px;
}

.margin_top_form {
    margin-top: 20px;
}

.btn_login {
    width: 100%
}